.btn-blue {
    background: lightblue;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    color: #f7f7f7;
    /* box-shadow: 1px 1px 9px 1px #828282; */
}

#basic2 {
    color: grey;
}