body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: grey;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.heading {
  color: #d283de;
}

.hr-style {
  margin: 10px 0;
  border: 0;
  height: 1px;
  /* background: #fff; */
  background-image: linear-gradient(to right, lightgrey, #ccc, #f7f7f7);
}

.comment {
  color: rgb(175, 175, 175);
}

svg {
  /* background: lightgrey; */
  background-image: linear-gradient(to right bottom, #d283de, #9ea8fd, #79c4fe, #86d6ee, #b1e3e1);
}

.rect-1 {
  fill: whitesmoke;
}